[Unit]
Description=DoH-Client
After=network.target

[Service]
ExecStart=/root/data/doh-client/doh-client
WorkingDirectory=/root/data/doh-client
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
