[Unit]
Description=DoH-Client
Documentation=https://github.com/WJQSERVER/doh-client
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/bin/doh-client
Restart=on-failure
WorkingDirectory=/usr/bin

[Install]
WantedBy=multi-user.target